{% extends 'Demo/humanNew.twig' %}

{# {% block navigation %}
   
{% endblock %} #}

{% block title %}{{title is defined ? title : 'not defined'}}
{% endblock %}

{% block head %}{% endblock %}

  
{% block title_page %}New Employee{% endblock %}

{% block typeHuman %}
            
            <div class="form-group">
                <label for="nss" class="control-label col-sm-2">NSS</label>
                <div class="col-sm-10">
                    <input type="text" name="employee[nss]" id="nss" class="form-control">
                </div>
            </div>
           <div class="form-group">
            <label for="sucursal" class="control-label col-sm-2">Sucursal</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-lg" id="sucursal" name="employee[sucursal]" value="">
            </div>
        </div>
        <div class="form-group ">
            <label for="position" class="control-label col-sm-2">Position</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-lg" id="position_id" name="employee[position_id]" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="salary" class="control-label col-sm-2">Salary</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-lg" id="salary" name="employee[salary]" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="textfield" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
                <select  id="role_id" name="user[role_id]" class="form-control select2-me input-lg" style="width:250px;">
                                            <option value="1">Admin</option>
                                            <option value="2" selected="">It</option>
                                    </select>
            </div>
        </div>
        
         
           
{% endblock %}







{% block scripts %}{% endblock %}