<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login Form</title>
  
  
  
      <link rel="stylesheet" href="/assets_login/css/style.css">

  
</head>

<body>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


<form action="/login" method="post">
  <h4> Login Information </h4>
  <input name="email" class="name" type="text" placeholder="Enter Username" value="raul@server.com"/>
  <input name="password" class="pw" type="password" placeholder="Enter Password"/>
  <li><a href="#">Forgot your password?</a></li>
  <input class="button" type="submit" value="Log in"/>
</form>
  
  

</body>

</html>
