<html>
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{# <link href="/assets/css/bootstrap.min.css" rel='stylesheet' type='text/css'/> #}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>

<style>

</style>
</head>
<body>
    <div class="main" style="padding:2%;margin-top:5%;">
        <div class="col-lg-12">
            <div class="container">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="row grids text-center">
                        <div class="view view-tenth">
                            <!-- <a href="single.html">-->
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/assets/imgs/logo.png" class="img-responsive" alt="" style="margin:0% auto;"/>
                                </div>
                                {# <div class="label-product">
                                    <span class="new">USER LOGIN</span>
                                </div> #}
                                <div class="mask" style="width:100% !important;">
                                    <h2>Welcome User</h2>
                                    <div class="main">
                                        <form action="/login" method="post">
                                            <input type="text" name="email" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
                                            <input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                                            <div class="submit"><input type="submit" noonclick="myFunction()" value="Sign in"></div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- </a> -->
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="col-lg-12">
            <div class="footer">
                <p>
                    © 2016 All Rights Reserved | Design by
                    <a href="http://www.arrayform.com/">ArrayForm</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
